name: bp_logger
description: Simple blood pressure logger with charts, export and reminders
publish_to: "none"
version: 0.2.0+2

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.19.0
  fl_chart: ^0.66.2
  share_plus: ^10.0.2
  flutter_local_notifications: ^17.1.2
  timezone: ^0.9.2
  google_fonts: ^6.2.1
  shared_preferences: ^2.3.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
